@charset "UTF-8";

body {
    background-color: rgb(220, 249, 250);
}

h1 {
    color: rgb(26, 61, 50);
}

#principal {
    text-align: center;
    color: blueviolet;
}

h2 {
    color: rgb(83, 158, 158);
}